@charset "utf-8";
html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpeg);
}

.full-page{
    width: 100vw;
    height: 100vh;

    
}

.fontclass{
    font-size:200%;
}