@charset "utf-8";
html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/H/Hayaa6211/20211101/20211101115417.png);
    font-size: 150%;
}

.full-page{
    width: 100vw;
    height: 100vh;
}

.inner{
    text-align: center;
}

.fontsize_75{
    font-size:75%;
}

.fontsize_100{
  font-size:100%;
}