html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.bg{
    background-color : #ffffff;
	background-image:
		repeating-linear-gradient( 0deg,rgba(175, 95, 0, 0.5) 0px 15px,	transparent 15px 40px),
		repeating-linear-gradient( 90deg,rgba(255, 255, 0, 0.5) 0px 15px,	transparent 15px 40px);
}

.fontclass{
    font-size:200%;
}